.label, button {
  font-size: 24;
}

.fretboard {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  //border: 1px solid #000;
}

.fret__wire {
  fill: none;
  stroke: #000000;
}

.fret__marker > circle {
  r: 10;
  fill: #dddddd;
}

.label {
  fill: #000000;
  stroke: #000000;
  stroke-width: 0;
  text-anchor: 'middle';
}

.string__line {
  fill: 'none';
  stroke: #000000;
}
.string__overlay {
  fill-opacity: 0;
}

.string__marker {
  r: 8;
}

.string__marker-marked {
  fill: $darkGrey;
}

.string__marker-preview {
  fill: rgba($blue, 0.5);
  animation: pulse 1.2s infinite;
  animation-delay: 0;
}

.string__marker-lit {
  fill: $magenta;
}

@keyframes pulse {
  0% {
    r: 8;
    opacity: 1;
  }
  50% {
    r: 12;
    opacity: 0.6;
  }
  100% {
    r: 8;
    opacity: 1;
  }
}
